*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.top-button{
    height: 50px;
    width: 50px;
    background: #515151;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 300;
}

.top-button i{
    color: #fff;
    font-size: 1.5em;
}

body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, .btn{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

p{
    font-size: 1em;
}

nav{
    z-index: 200;
}

section{
    z-index: 100;
}

/*.decoration{
    position: absolute;
    top: 0;
    background-color:#CE2A37;
    width : 100px;
    height: 1000px;
    opacity: 70%;
}*/

.tkdbanner {
    width: 100%;
    height: 85vh;
    background-image: url("img/tkd.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    padding: 3rem 0 0 3rem;
    margin-bottom: 10rem;
}

.tkdbanner .txt {
    border: solid #CE2A37 5px;
    border-radius: 0 80px 0 80px;
    padding: 1.5rem 3rem;
    margin : 2rem 1rem 3rem 1rem;
    width: 450px;
    height: 250px;
    background-color: #ffffffa6;
    font-weight: 500;
}

.tkdbanner .txt p{
    margin: 0;
}

.histoire {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

.histoire img{
    width: 50%;
}

.histoire .txt {
    margin-top: 5rem;
    width: 50%;
    border-left: solid #515151 5px;
    padding: 0rem 1.5rem;
    margin: 2rem 1rem 3rem 1rem;
}

.ecole {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

.ecole img{
    width: 25%;
    margin-right: 3rem;
}

.ecole .txt span {
    font-weight: bold;
}

/* page hapkido */

.hapkidoBanner {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -285px;
    display: flex;
    margin-bottom: 5rem;
    position: relative;
}

/*.hapkidoBanner img {
    display: none;
}*/

.hapkidoBanner .definitionHapkido {
    border: solid #CE2A37 5px;
    background-color: #ffffffa6;
    border-radius: 0 80px 0 80px;
    padding: 1.5rem 3rem;
    width: 500px;
    font-weight: 500;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1rem;
}

.histoireHapkido {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
}

.histoireHapkido img{
    width: 50%;
}

.histoireHapkido .txt {
    margin-top: 5rem;
    width: 50%;
    border-left: solid #515151 5px;
    padding: 0rem 0 0 1.5rem;
    margin: 2rem 1rem 0 1rem;
}

.principesHapkido {
    margin-top : 5rem;
    margin-bottom: 10rem;
    display: flex;
}

.principesHapkido .left_img{
    width: 100%;
    padding: 0;
    margin: 0;
}

.principesHapkido .left_img img {
    padding: 0;
    margin: 0;
    width: 100%;
}

.principesHapkido .txt {
    width: 100%;
    color: #fff;
    background-color: #515151;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
}

.principesHapkido .txt span {
    font-style: italic;
}

.principesHapkido .txt .part2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.principesHapkido .txt .part2 p {
    width: 70%;
    text-align: right;
    padding-right: 1rem;
}

.principesHapkido .txt .part2 img {
    width: 30%;
    align-self: center;
    padding: 1rem 0 0 0 ;
}

/* page sinkido */

.sinkidoBanner {
    width: 100%;
    height: 85vh;
    background-image: url("img/IMG_4707.JPG");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-y: -6rem;
    display: flex;
    padding: 3rem 0 0 3rem;
}

.sinkidoBanner img {
    display: none;
}

.sinkidoBanner .txt {
    border: solid #CE2A37 5px;
    border-radius: 0 80px 0 80px;
    padding: 1.5rem 2rem;
    width: 450px;
    height: fit-content;
    background-color: #ffffffa6;
    font-weight: 500;
}

.sinkidoBanner .txt span {
    font-weight: bold;
}

.sinkidoBanner .txt p{
    margin: 0;
}

.approche {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10rem;
    background-color: #515151;
}

.approche img {
    width: 40%;
}

.approche .txt {
    border-left: solid #CE2A37 5px;
    color: #fff;
    margin-left: 2rem;
    padding-left: 1.5rem;
    width: 50%;
}

.top h1{
    padding: 4rem 0rem;
    font-size: 3em;
    text-align: center;
    position: relative;
}

.top .banniere{
    width: 100%;
}

.top img{
    width: 100%;
}

.first p{
    margin : 0 auto;
    padding : 0;
}

.first .definition{
    border: solid #CE2A37 5px;
    border-radius: 0 80px 0 80px;
    padding: 1.5rem 3rem;
    margin : 2rem 1rem 3rem 1rem;
}

.first .methods{
    width: 100%;
}

.first .methods .content{
    border-left : solid #515151 5px;
    padding: 0rem 1.5rem;
    margin : 2rem 1rem 3rem 1rem;
}


.secondd{
    margin-top : 3rem;
}

.secondd img{
    width : 50%;
}

.secondd .technics{
    border-left : solid #CE2A37 5px;
    padding: 0rem 1.5rem;
    margin-top : 2.5rem
}

.secondd .content{
    margin: 0 1rem;
}

.third{
    margin-top : 5rem;
    padding: 0;
    height: 25%;
}

.third .image2{
    padding: 0;
}


.third .image2 img{
    width: 100%;
}

.third .utility{
    color: #fff;
    background-color: #515151;
    display: flex;
    align-items: center;
}

.third .utility h2,
.third .utility p{
    margin: 0;
}

.third .content{
    padding: 1rem 2rem;
}

.cta{
    margin: 5rem 0;
}

.cta h3{
    text-align: center;
    margin-bottom: 1.5rem;
}

.cta .buttons{
    display: flex;
    justify-content: center;
}

.cta .btn{
    background-color: #CE2A37;
    color: #fff;
    font-size: 1.5em;
    margin: 0 1em;
    height: 3rem;
    line-height: 1.1em;
    border-radius: 30px;
    padding : 0.5em 1em;
}

.cta .sinkido{
    line-height: 0.6em;
    padding-top: 0.5em;
}

.cta span {
    font-size: 0.5em;
}



/* CSS for tablet */

@media screen and (min-width: 577px) and (max-width: 991px) {
    
    .secondd{
        margin: 0 auto;
    }
    
    .secondd img{
        width: 60%;
    }
    
    .third {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        max-height: 800px;
    }

    .third .image2{
        padding: 0;
        height: 400px;
        width: 100%;
    }

    .third .image2 img{
        height: 100%;
        max-width: 100%;
        object-fit: contain;
    }

    .third .utility{
        padding: 0;
    }

    .third .utility .content{
        padding : 2rem;
    }

    .cta h3{
        margin: 0 2rem;
    }

    .cta .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cta .btn{
        width: 250px;
        margin: 0.5rem 0;
    }

}

/* CSS for mobile */

@media screen and (max-width: 576px) {
    
    .top h1{
        padding: 1.5rem 0rem;
        margin: 0 auto;
        font-size: 2em;
        text-align: center;
    }

    .top .banniere{
        height: 300px;
    }

    .top .banniere img{
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: -150px 0;
    }

    .first h2,
    .secondd h2,
    .third h2 {
        font-size : 1.2em;
    }

    .first p,
    .secondd p,
    .third p {
        font-size : 0.8em;
    }

    .first .definition{
        padding: 1rem 2rem;
        margin: 1rem 1rem;
    }

    .secondd{
        margin: 0 auto;
    }

    .secondd img{
        width: 100%;
    }

    .third{
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
    }

    .third .image2{
        padding: 0;
    }

    .third .utility{
        padding: 1rem 2rem;
    }

    .third .content{
        padding: 1rem 0;
    }

    .cta{
        margin: 2rem 0;
    }

    .cta h3{
        margin: 0 1rem;
        font-size: 1.3em;
    }

    .cta .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cta .btn{
        margin-bottom: 1rem;
        width: 210px;
        height: 45px;
        margin: 0.5rem 0;
        font-size: 1.2em;
    }

    .cta .taekwondo{
        line-height: 1.2em;
    }

    .cta .hapkido{
        line-height: 1.2em;
    }

    .cta span {
        font-size: 0.6em;
    }

    .top-button{
        height: 35px;
        width: 35px;
        border-radius: 50%;
        right: 20px;
        bottom: 20px;
    }
    
    .top-button i{
        font-size: 1em;
    }
    
}

@media screen and (max-width: 1300px) {

	/* page taekwondo */
	
	.tkdbanner {
	    padding: 0;
	}
	
	.tkdbanner .txt {
	    margin: 1rem;
	}
	
	/* page hapkido */
	
	.hapkidoBanner {
	    background-image: none;
	    height: auto;
	    display: flex;
	    justify-content: center;
	}
	
	.hapkidoBanner img {
	    display: block;
	    width: 100%;
	}
	
	.hapkidoBanner .definitionHapkido {
	    width: 80%;
	    right: initial;
	}
	
	.principesHapkido {
	    flex-direction: column;
	}
	
	.principesHapkido .left_img {
	    background-color: #515151;
	}
	
	/* page sinkido */
	
	.sinkidoBanner {
	    padding: 2rem 0 0 2rem;
	}
	
	.sinkidoBanner .txt {
	    width: 350px;
	}

}

@media screen and (max-width: 1000px) {

	/* page taekwondo */
	    
	.tkdbanner {
	    justify-content: center;
	    align-items: flex-end;
	    position: relative;
	    background-size: cover;
	    background-position-x: center;
	    height: 400px;
	    margin-bottom: 400px;
	}
	
	.tkdbanner .txt {
	    position: relative;
	    margin: 0;
	    bottom: -300px;
	    width: 65%;
	    height: fit-content;
	    padding: 1.5rem 2rem;
	    border-radius: 0 40px 0 40px;
	}
	
	.histoire img {
	    width: 70%;
	}
	
	.histoire .txt {
	    width: 70%;
	}
	
	.ecole {
	    padding: 1rem;
	}
	
	.ecole img {
	    margin-right: 1rem
	}
	
	
	/* page hapkido */
	
	.hapkidoBanner {
	    position: initial;
	    flex-direction: column;
	    align-items: center;
	}
	
	.hapkidoBanner .definitionHapkido {
	    position: initial;
	    border-radius: 0 40px 0 40px;
	}
	
	.histoireHapkido {
	    margin-top: 10vh;
	}
	
	.histoireHapkido img {
	    width: 100%;
	}
	
	.histoireHapkido .txt {
	    width: initial;
	}
	
	.principesHapkido .txt .part2 p {
	    width: 50%;
	}
	
	
	/* page sinkido */
	
	.sinkidoBanner {
	    padding: 0;
	    align-items: flex-end;
	}
	
	.sinkidoBanner .txt {
	    width: 100%;
	    margin: 0 1rem 1rem 1rem;
	    border-radius: 0 40px 0 40px;
	}
	   
}

@media screen and (max-width: 800px) {

	/* page sinkido */
	
	.sinkidoBanner {
	    background: none;
	    display: flex;
	    flex-direction: column;
	    height: fit-content;
	}
	
	.sinkidoBanner img {
	    display: block;
	    width: 100%;
	}
	
	.sinkidoBanner .txt {
	    margin: 2rem;
	    width: auto;
	}
}

@media screen and (max-width: 600px) {

	p {
	    font-size: 0.8em;
	}
	
	h2 {
	    font-size: 1.2em;
	}
	
	/* page taekwondo */
	
	.tkdbanner {
	     height: 250px;
	     margin-bottom: 250px;
	}
	
	.tkdbanner .txt {
	    width: 80%;
	    bottom: -200px;
	    width: 100%;
	    margin: 1rem;
	}
	
	.histoire {
	    margin-bottom: 2rem;
	}
	
	.histoire img {
	    width: 100%;
	}
	
	.histoire .txt {
	    width: unset;
	    margin: 2rem 1rem;
	}
	
	.ecole {
	    flex-direction: column;
	    padding: 0;
	}
	
	.ecole img {
	    margin: 0;
	    width: 70%;
	}
	
	.ecole .txt {
	    margin: 2rem 1rem;
	    border-left: solid #CE2A37 5px;
	    padding: 0rem 1.5rem;
	}
	
	.cta .buttons {
	    flex-direction: column;
	    align-items: center;
	}
	
	.cta .buttons .btn {
	    margin-bottom: 1rem;
	}
	
	
	/* page hapkido */
	
	.hapkidoBanner .definitionHapkido {
	    width: initial;
	    margin: 1rem;
	}
	
	.principesHapkido .txt .part2 p {
	    width: 65%;
	}
	
	.principesHapkido .txt .part2 {
	    padding-top: 1rem;
	}
	
	.principesHapkido .txt .part2 img {
	    padding: 0;
	}
	
	
	/* page sinkido */
	
	.approche {
	    flex-direction: column;
	}
	
	.approche .txt {
	    margin-left: 1rem;
	    padding-left: 1rem;
	    width: 80%;
	    margin: 4rem;
	}
	
	.approche img {
	    width: 100%;
	}

}


@media screen and (max-width: 450px) {

	/* page taekwondo */
	
	.tkdbanner {
	    background-position-x: -75px;
	    margin-bottom: 300px;
	}
	
	.tkdbanner .txt {
	    bottom: -250px;
	}
	
	/* page hapkido */
	
	.hapkidoBanner .definitionHapkido {
	    padding: 1.5rem;
	}
	
	.principesHapkido .txt .part2 {
	    flex-direction: column;
	}
	
	.principesHapkido .txt .part2 p {
	    width: 100%;
	    text-align: inherit;
	    margin-bottom: 1rem;
	}
	
	.principesHapkido .txt .part2 img {
	    width: 50%;
	}

}