RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RedirectMatch 301 ^/$ /crm
RedirectMatch 301 ^/clubs$ /crm/club
RedirectMatch 301 ^/pres/cenacle$ /crm
RedirectMatch 301 ^/pres/taekwonkido$ /crm/taekwonkido
RedirectMatch 301 ^/pres/taekwondo$ /crm/taekwondo
RedirectMatch 301 ^/pres/hapkido$ /crm/hapkido
RedirectMatch 301 ^/pres/sinkidosds$ /crm/sinkido
RedirectMatch 301 ^/pres/master-rm$ /crm/master

RedirectMatch 404 /\.git
RedirectMatch 404 ^/developer/?$

<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 46.161.9.32
deny from 82.253.192.43
deny from 185.156.173.112
deny from 78.171.117.55
deny from 78.188.112.104
deny from 185.13.39.107
deny from 41.97.46.135
deny from 194.187.170.125
deny from 194.187.170.137
deny from 182.50.135.85
deny from 51.68.11.231

<IfModule mod_headers.c>
		Header always unset Server
		Header always unset X-Powered-By
		Header unset Server
		Header unset X-Powered-By
		Header unset X-CF-Powered-By
		Header unset X-Mod-Pagespeed
		Header unset X-Pingback
</IfModule>