{% extends 'dashboard.html.twig' %}

{% block stylesheets2 %}
    <link rel="stylesheet" href="/assets/showcase/master/master.css">
{% endblock %}



{% block dashboardcontent %}

    <h1 class="title row m-0">Maître Rémi Mollet</h1>

    <section class="section-one row m-0 d-flex justify-content-center">
        <div class="numbers col-xl-3 col-lg-3 col-md-4 col-sm-5">
            <h3>{% trans %}showcase.master.numbers.starts{% endtrans %}</h3>
            <h3>{{ "showcase.master.numbers.countyears"|trans({'%nbyears%': ('now' | date('Y')) - 1973})|raw }}</h3>
        </div>

        <div class="image col-xl-4 col-lg-4 col-md-5 col-sm-5">
            <img src="/assets/showcase/master/1.jpg" alt="le maître Rémi Mollet">
        </div>

        <div class="content col-lg-4 col-sm-10">
            <h2>{% trans %}showcase.master.hiscareer.title{% endtrans %}</h2>
            <p>{{ "showcase.master.hiscareer.text"|trans({'%nbyears%': ('now' | date('Y')) - 1973})|raw }}</p>
        </div>
    </section>

    <section class="section-two">

        <div class="image">
            <img src="/assets/showcase/master/3.jpg" alt="démonstration du maître">
        </div>
       
        <div class="content align-self-center">
           <h2>{% trans %}showcase.master.hisrewards.title{% endtrans %}</h2>
           <p>{% trans %}showcase.master.hisrewards.text{% endtrans %}</p>
        </div> 

        <div class="numbers align-self-center">
            <h3>{% trans %}showcase.master.yearsevent._1998{% endtrans %}</h3>
            <h3>{% trans %}showcase.master.yearsevent._2000{% endtrans %}</h3>
            <h3>{% trans %}showcase.master.yearsevent._2009{% endtrans %}</h3>
        </div>

    </section>


    <section class="section-three">
        <div class="first d-flex justify-content-center">
            <div class="image col-xl-5 col-lg-5"><img src="/assets/showcase/master/9.png" alt="le maître donne un coup de pied sauté"></div>
            <div class="content-1 col-xl-6" pr-5>
                <h2>{% trans %}showcase.master.hisworks.title{% endtrans %}</h2>
                <p>{% trans %}showcase.master.hisworks.text{% endtrans %}</p>
            </div>
        </div>
       <div class="second d-flex align-items-end justify-content-center">
           <div class="content-2 d-block col-xl-5">
               <h2>{% trans %}showcase.master.hiscontributions.title{% endtrans %}</h2>
               <p>{% trans %}showcase.master.hiscontributions.text{% endtrans %}</p>
           </div>
           <div class="image col-xl-6"><img src="/assets/showcase/master/4.png" alt="le maître bloque une attaque par un coup de pied latéral"></div>
       </div>
    </section>

    <section class="section-four">

        <div class="first-text text">
            <p>{% trans %}showcase.master.section4.text{% endtrans %}</p>
        </div>

        <div class="bloc-text-mid">
            <div class="first-text">
                <p>{% trans %}showcase.master.section4.text{% endtrans %}</p>
            </div>
            <div class="second-text">
                <h2>{% trans %}showcase.master.hisstudents.title{% endtrans %}</h2>
                <p>{% trans %}showcase.master.hisstudents.text{% endtrans %}</p>
            </div>
        </div>

        <div class="image">
            <img src="/assets/showcase/master/master.jpg" alt="le maître applique une clé de bras en self-défense">
        </div>

        <div class="second-text text">
            <h2>{% trans %}showcase.master.hisstudents.title{% endtrans %}</h2>
            <p>{% trans %}showcase.master.hisstudents.text{% endtrans %}</p>
        </div>

    </section>

    <section class="section-five d-flex justify-content-center">
        <div class="red-banner"></div>
        <div class="container d-flex col-10 p-0 m-0 justify-content-center">
            <div class="left d-block col-xl-6 col-lg-7 col-md-7 m-0 p-0">
                <img src="/assets/showcase/master/6.jpg" alt="le maître passe une clé à son élève">
                <div class="content">
                    <h2>{% trans %}showcase.master.hisdemonstrations.title{% endtrans %}</h2>
                    <p>{% trans %}showcase.master.hisdemonstrations.text{% endtrans %}</p>
                </div>
            </div>

            <div class="right col-xl-5 col-md-6 m-0 p-0 align-self-center">
                <img src="/assets/showcase/master/master2.jpg" alt="le maître passe une clé de bras à son élève">
            </div>
        </div>
    </section>

    <section class="section-six d-flex">
        <div class="image col-xl-6 col-lg-6 col-md-6 m-0 p-0">
            <img src="/assets/showcase/master/master3.png" alt="le maître donne un coup de pied latéral à son élève">
        </div>
        <div class="content col-xl-5 col-lg-5 col-md-5 align-self-center">
            <h2>{% trans %}showcase.master.conclusion.title{% endtrans %}</h2>
            <p>{% trans %}showcase.master.conclusion.text{% endtrans %}</p>
        </div>
    </section>

{% endblock %}
