{% extends 'dashboard.html.twig' %}


{% block stylesheets2 %}
	<link rel="stylesheet" href="/assets/showcase/style.css">
{% endblock %}


{% block dashboardcontent %}

    <section class="top">
        <div class="title">
            <h1>Sinkido</h1>
        </div>
    </section>

  

{% endblock %}
