<div class="language">
    <label class="toggle">
        <input type="checkbox" id="language" {% if app.request.locale == 'en' %}checked{% endif %}>
        <span class="toggle-switch"></span>
        <div class="fr"></div>
        <div class="en"></div>
    </label>
</div> 
