<nav>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>

    <div class="logo">
        <a href="/"><img src="/assets/img/logo-taekwonkido.png" alt="logo du logo-taekwonkido"></a>
    </div>

    <ul class="nav-links">
        
        {% if club is defined and club.uuid is defined and menuProperties["menu.club.enabled"] == "true"%}
    		<div class="dropdown">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                	<img src="/assets/img/aim.png" class="icon">{% trans  with {'%name%': club.name} %}menu.club name{% endtrans %}
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#"><li class="link">{% trans %}menu.club.sign up conditions{% endtrans %}</li></a>
                    <a class="dropdown-item" href="#"><li class="link">{% trans %}menu.club.prices{% endtrans %}</li></a>
                    <a class="dropdown-item" href="#"><li class="link">{% trans %}menu.club.hours{% endtrans %}</li></a>
                   	{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CLUB_MANAGER') %}
                    	<div class="dropdown-divider"></div>
                    	<a class="dropdown-item" href="#"><li class="link">{% trans %}menu.club.configure-ui{% endtrans %}</li></a>
                    	<a class="dropdown-item" href="#"><li class="link">{% trans %}menu.club.configure-details{% endtrans %}</li></a>
                     {% endif %}
                 </div>
            </div> 
        {% endif %}

		{% if menuProperties["menu.master.enabled"] == "true" %}
			<a class="btn link flex-nowrap" href="/master"><img src="/assets/img/icon_master.png" class="icon"> {% trans %}menu.the master{% endtrans %}</a>
		{% endif %}
		        
		{% if menuProperties["menu.disciplines.enabled"] == "true" %}
    		<div class="dropdown btn-group">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                	<img src="/assets/img/belt.png" class="icon">{% trans %}menu.disciplines{% endtrans %}
                </button>
                <div class="dropdown-menu">
                    {% if lessons %}
                        {% set disciplines = lessons|map(l => l.discipline|lower) %}
                    {% else %}
                    	{% set disciplines = null %}
                    {% endif %}
                    <a class="dropdown-item text-nowrap" href="/taekwonkido"><li class="link dropdown-item"> {% trans %}discipline.taekwonkido{% endtrans %} {% if disciplines is not null and 'taekwonkido' not in disciplines %}****{% endif %}</li></a>
                    <a class="dropdown-item" href="/taekwondo"><li class="link dropdown-item"> {% trans %}discipline.taekwondo{% endtrans %} {% if disciplines is not null and 'taekwondo' not in disciplines %}****{% endif %}</li></a>
                    <a class="dropdown-item" href="/hapkido"><li class="link dropdown-item"> {% trans %}discipline.hapkido{% endtrans %} {% if disciplines is not null and 'hapkido' not in disciplines %}****{% endif %}</li></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/sinkido"><li class="link dropdown-item"> {% trans %}discipline.sinkido self defense system 2 lines{% endtrans %} {% if disciplines is not null and 'sinkido' not in disciplines %}****{% endif %}</li></a>
                </div>
            </div> 
        {% endif %}
        
        {% if menuProperties["menu.club-list.enabled"] == "true" %}
        	<a class="btn link" href="/club"><img src="/assets/img/pin.png" class="icon">{% trans %}menu.club list{% endtrans %}</a>
        {% endif %}
        
        <!-- <a class="btn link" href="#"><img src="/assets/img/gallery.png" class="icon">{% trans %}menu.gallery{% endtrans %}</a> -->
        
        {% if menuProperties["menu.contact.enabled"] == "true" %}
        	<a class="btn link" href="#"><img src="/assets/img/question.png" class="icon">{% trans %}menu.contact{% endtrans %}</a>
        {% endif %}
 
        {% if menuProperties["menu.signin.enabled"] == "true" %}
        	<div class="dropdown btn-group">
        		{% if app.user is null %}
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    	<img src="/assets/img/profile.png" class="icon">{% trans %}menu.signin signup{% endtrans %}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/login"><li class="link">{% trans %}menu.signin_signup.signin{% endtrans %}</li></a>
                        <a class="dropdown-item" href="#"><li class="link">{% trans %}menu.signin_signup.signup{% endtrans %}</li></a>
                    </div>
                {% else %}
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    	<img src="/assets/img/profile.png" class="icon">{% trans %}menu.signin signup.my account{% endtrans %}
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><li class="link">{% trans %}menu.signin_signup.me{% endtrans %}</li></a>
                        {% if is_granted('ROLE_ADMIN') %}
                        	<a class="dropdown-item" href="/config"><li class="link">{% trans %}menu.signin_signup.config{% endtrans %}</li></a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout"><li class="link">{% trans %}menu.signin_signup.logout{% endtrans %}</li></a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
	</ul>
  
</nav>
