{% extends 'base.html.twig' %}


{# ============================================ #}


{% block title %}C&eacute;nacle R&eacute;mi Mollet{% endblock %}


{# ============================================ #}


{% block stylesheets %}
    <link rel="stylesheet" href="/assets/dashboard/dashboard.css">
    <link rel="stylesheet" href="/assets/menu/menu.css">
    <link rel="stylesheet" href="/assets/footer/footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="/vendor/bootstrap-4.6.0/bootstrap.min.css">
{% endblock %}


{# ============================================ #}


{% block javascripts %}

{% endblock %}


{# ============================================ #}


{% block body %}
	
	{{ render(controller('App\\Controller\\MenuController::viewMenu')) }}

    <!-- Button top -->
    <div class="top-button">
        <i class="fas fa-arrow-up"></i>
    </div>

   	{% block dashboardcontent %}{% endblock %}

    {{ render(controller('App\\Controller\\FooterController::viewFooter')) }}

	<script src="/assets/menu/menu.js"></script>
	<script src="/assets/topbutton.js"></script>
	<script src="/assets/search-club/search-club.js"></script>
	<script src="/vendor/fontawesome/fontawesome.js"></script>
{% endblock %}





