{% extends 'dashboard.html.twig' %}



{% block dashboardcontent %}

    {# Bannière centrale #}
    <section class="banner banner_home_imgbg">

       <div class="title">
           <div class="logo">
                <img src="/assets/home/logo.jpg" alt="logo taekwonkido">
            </div>
            <div class="name">
                <h1>cénacle rémi mollet<br>
                <span>arts martiaux</span></h1>
            </div>
       </div>

       {# boutons animés #}
       <div class="drop">
                <button class="bloc-button">
                        <i class="fas fa-map-marker-alt"></i>
                </button>
                <div class="bloc-text">
                        Ecole Henri Cahn, Boulevard Galliéni<br>
                        94360 Bry-sur-Marne
                </div>
       </div>

       <div class="drop2">
                <button class="bloc-button">
                    <i class="fas fa-phone-alt" aria-hidden="true"></i>
                </button>
                <div class="bloc-text">
                    06 95 90 44 08
                </div>
       </div>

       <div class="drop3">
            <button class="bloc-button">
                <i class="fas fa-envelope" aria-hidden="true"></i>
            </button>
            <div class="bloc-text">
                remi.mollet@cenaclerm.fr
            </div>
        </div>

        <div class="drop4">
            <button class="bloc-button">
                <i class="fas fa-gift"></i>
            </button>
            <div class="bloc-text">
                Un cours d'essai gratuit !
            </div>
        </div>

        {# Boutons disciplines #}

       <div class="buttons">
           <div class="btn"><a href="/taekwondo">taekwondo</a></div>
           <div class="btn"><a href="/taekwonkido">taekwonkido</a></div>
           <div class="btn"><a href="/hapkido">hapkido</a></div>
           <div class="btn sinkido"><a href="/sinkido"><span class="first">sinkido</span><br><span class="second">self-défense système</span></a></div>
       </div>

       {# switch language button #}
       <div class="language">
            <label class="toggle">
                <input type="checkbox">
                <span class="toggle-switch"></span>
                <div class="fr">
                </div>
                <div class="en"></div>
            </label>
        </div> 

       {% block searchclub %}{{ parent() }}{% endblock %}
     
    </section>

    {# Présentation cénacle #}

    <main>

        <h1>le cénacle</h1>

        <section class="ecole">

            <div class="left">
                <img src="/assets/home/accueil_1.jpg" alt="le maître rémi mollet donne un coup de poing retourné à son élève">
            </div>

            <div class="text">
                <h2>notre école</h2>
                <p>Le Cénacle Rémi Mollet est une <span>école d'Arts Martiaux</span> Français, Coréens et asiatiques. On y enseigne principalement le Taekwonkido, Taekwondo, mais aussi le Hapkido et le Gumdo. Le Cénacle est composé d'une trentaine de clubs (dojang) répartis dans toute la France. Il y a même un club aux Pays-Bas et des sympathisants en Suisse, en Angleterre, etc.</p>
            </div>
        </section>

        <section class="clubs">
            <div class="text">
                <h2>nos clubs</h2>
                <p>La particularité du Cénacle est l'organisation d'<span>activités communes</span> à tous les clubs. Cela génère une <span>dynamique de groupe</span> tout à fait exceptionnelle. Cette dynamique favorise la création de liens entre les élèves des différents clubs. Par exemple, il est possible pour un élève de s'entraîner dans tous les clubs de son choix, sous certaines conditions. Il peut tout à fait assister aux cours dispensés par le Maître Rémi Mollet sans supplément de cotisation.
                </p>
            </div>

            <div class="right">
                <img src="/assets/home/accueil_2.jpg" alt="le maître montre une technique de défense">
            </div>
        </section>

        <section class="competitions">

            <div class="left">
                <img src="/assets/home/accueil_3.jpg" alt="deux élèves s'affrontent en compétition combat">
            </div>

            <div class="text">
                <h2>les compétitions</h2>
                <p>Le Cénacle organise des <span>compétitions</span> combat et technique, des <span>stages</span> combat, technique, poomse. Le Cénacle organise aussi ses propres passages de grades et invite de nombreux Maîtres (Coréens le plus souvent). Notons par exemple la venue du Grand Maître Park Hae-Man à diverses reprises. De plus certains élèves du Cénacle sont déjà partis plusieurs fois en Corée, pour participer à une compétition internationale. Ils ont même ramené quelques médailles.
                </p>
            </div>
        </section>

        <section class="enseignement">
            <div class="content">
                <h2>notre enseignement</h2>
                <img src="/assets/home/accueil_4_pix.jpg" alt="les élèves d'un club et le maître rémi mollet">
                <p>Le Cénacle est sous la direction de <span>Maître Rémi Mollet</span>. Maître Rémi Mollet désire enseigner un Taekwondo Coréen, c'est-à-dire qu'il est le plus fidèle possible au Taekwondo enseigné en Corée. Pour ce faire, il part fréquemment en Corée afin de prendre connaissance des <span>dernières évolutions</span> du Taekwondo. En effet, le Taekwondo est un art martial vivant et de fait est amené à changer fréquemment. Le Taekwondo pratiqué au sein du Cénacle est conforme aux normes du <span>Kukkiwon</span> (maison mère du Taekwondo).
                </p>
            </div>
        </section>

        <section class="methode">
            <div class="left">
                <h2>notre méthode</h2>
                <img src="/assets/home/accueil_5_2.jpg" alt="deux élèves s'entrainent">
                <p>Après de très nombreuses années de pratique et d'enseignement, Maître Mollet et le docteur Taddeï ont décidé d'orienter leur pratique vers une méthode plus réaliste, axée sur <span>le combat réel et l'autodéfense</span>, synthétisant divers arts et notamment le Khido, discipline fondée par Maître Michel Morlon, créée en 1984. Le Taekwonkido est une <span>méthode pratique et réfléchie</span>, cherchant à produire le maximum de forces à partir de principes physiques et médicaux. Il est fondé sur l'utilisation naturelle du corps, avec des formes techniques allégées.</p>
            </div>

            <div class="right">
                <img src="/assets/home/accueil_5_1-2.jpg" alt="deux élèves s'affrontent en combat">
            </div>
        </section>


        <section class="cours-ages">
            <div class="title">
                <h2>des cours accessibles à tous les âges</h2>
                <p>Les cours prodigués au Cénacle conviennent à toutes les catégories d'élèves, des plus jeunes aux moins jeunes en passant par les férus de compétitions.</p>
            </div>

            <div class="categories">

                <div id="age-baby" class="case">
                    {# Button trigger modal #}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#baby">
                        <h3>baby</h3>
                        <img src="/assets/home/accueil_6_1.jpg">
                    </button>
                    
                    {# Modal #}
                    <div class="modal fade" id="baby" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img src="/assets/icons/baby-boy.svg">
                                    <h5>baby</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>Certains clubs dispensent des cours de Baby-Taekwondo pour les 4-6 ans. Ces cours, adaptés aux plus jeunes enfants leur permet d'apprendre les bases du Taekwondo. Les enfants apprennent les valeurs du Taekwondo (respect, discipline) mais acquièrent aussi les bases techniques. Des passages de grades avec des "ceintures" spécialement conçues pour eux permettent de valider leurs connaissances.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="age-kid" class="case">
                    {# Button trigger modal #}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#kid">
                        <h3>enfant</h3>
                        <img src="/assets/home/accueil_6_2.jpg">
                    </button>
                    
                    {# Modal #}
                    <div class="modal fade" id="kid" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img src="/assets/icons/children.svg">
                                    <h5>enfant</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>A partir de 6 ans, et jusqu'à 12 ans, les cours accentuent plus le côté dynamique du Taekwondo. Les enfants continuent leur apprentissage de manière ludique et approfondissent leurs connaissances.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="age-adult" class="case">
                    {# Button trigger modal #}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adult">
                        <h3>adulte</h3>
                        <img src="/assets/home/accueil_6_3.jpg">
                    </button>
                    
                    {# Modal #}
                    <div class="modal fade" id="adult" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img src="/assets/icons/adults.svg">
                                    <h5>adulte</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>A partir de 13 ans, on rentre dans le cours adulte. La particularité du Cénacle est que nous n'avons pas de spécialité. En effet, le professeur enseigne TOUS les aspects du Taekwondo (techniques de base, combat conventionnel, poomse, casse, self défense, ...). Rien n'est négligé. Les élèves seront donc polyvalents. Cependant, en fonction des préférences de l'élèves, différents cours supplémentaires peuvent être proposés. On a par exemple des cours spécifiques compétition (combat/technique).</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="age-senior" class="case">
                    {# Button trigger modal #}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#senior">
                        <h3>senior</h3>
                        <img src="/assets/home/accueil_6_4.jpg">
                    </button>
                    
                    {# Modal #}
                    <div class="modal fade" id="senior" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img src="/assets/icons/couple.svg">
                                    <h5 class="modal-title" id="exampleModalLabel">senior</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>Enfin, à partir d'un certain âge, les élèves sont moins attirés par le côté compétition que par l'aspect purement self défense. Il existe donc dans certains clubs un cours "vétéran". Là, l'accent sera plutôt mis sur l'aspect self défense et maintien en bonne santé.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>

        <section class="partenaires">
            <div class="title">
                <h2>nos partenaires</h2>
            </div>

            <div class="links">
                
                <div class="case first">
                    <a href="https://taekwonkidotoulon.jimdofree.com/">
                        <img src="/assets/home/logo.jpg">
                        <h5>Cénacle Côte d'Azur<br>Réunion de clubs sur la Côte d'Azur sous la direction de Maître Laurent Rodier</h5>
                    </a>
                    <h6 class="under-title">Cénacle Côte d'Azur<br>Réunion de clubs sur la Côte d'Azur sous la direction de Maître Laurent Rodier</h6>
                </div>
                <div class="case second">
                    <a href="https://www.fftda.fr/">
                        <img src="/assets/partners/fftda.jpg">
                        <h5>Fédération Française de Taekwondo et disciplines associées</h5>
                    </a>
                    <h6 class="under-title">Fédération Française de Taekwondo et disciplines associées</h6>
                </div>
                <div class="case third">
                    <a href="http://www.taekwonkido.com/">
                        <img src="/assets/partners/LogoTKKD_France.jpg">
                        <h5>Union Fédérale de Taekwonkido</h5>
                    </a>
                    <h6 class="under-title">Union Fédérale de Taekwonkido</h6>
                </div>
                <div class="case fourth">
                    <a href="http://www.hoshinkidohapkido.com/">
                        <img src="/assets/partners/hoshinkido_logo3.png">
                        <h5>Hoshinkido, écoles de Hapkido au Québec sous la direction de Me Serge Baubil</h5>
                    </a>
                    <h6 class="under-title">Hoshinkido, écoles de Hapkido au Québec sous la direction de Me Serge Baubil</h6>
                </div>
                
            </div>

        </section>


        <section class="join">
            <div class="left">
                <img src="/assets/home/accueil_7.jpg" alt="deux raquettes de frappe">
            </div>

            <div class="right">
                <h2>rejoignez-nous !</h2>
                <p>Il faut savoir que Maître Rémi Mollet insiste énormément sur le côté traditionnel de l'Art Martial. Nous enseignons non seulement les techniques de Taekwondo, mais aussi toutes les valeurs qui s'y rapportent. En effet, ne dit-on pas que l'Art Martial est un <span>art de vivre</span>.</p>
                <div class="btn"><a href="#">créer un compte</a></div>
            </div>
        </section>

    </main>

{% endblock %}



{% block javascripts_end_body %}

	{% block searchclubjs %}{{ parent() }}{% endblock %}

{% endblock %}

