{% extends 'dashboard.html.twig' %}



{% block dashboardcontent %}

    {# Bannière centrale #}
    <section class="banner banner_home_imgbg">

       <div class="title">
           <div class="logo">
                <img src="/assets/home/logo.jpg" alt="logo taekwonkido">
            </div>
            <div class="name">
                <h1>{% trans %}cenaclerm{% endtrans %}<br>
                <span>{% trans %}home.martialart{% endtrans %}</span></h1>
            </div>
       </div>

       {# boutons animés #}
       <div class="drop">
                <button class="bloc-button">
                        <i class="fas fa-map-marker-alt"></i>
                </button>
                <div class="bloc-text">
                        Ecole Henri Cahn, Boulevard Galliéni<br>
                        94360 Bry-sur-Marne
                </div>
       </div>

       <div class="drop2">
                <button class="bloc-button">
                    <i class="fas fa-phone-alt" aria-hidden="true"></i>
                </button>
                <div class="bloc-text">
                    06 95 90 44 08
                </div>
       </div>

       <div class="drop3">
            <button class="bloc-button">
                <i class="fas fa-envelope" aria-hidden="true"></i>
            </button>
            <div class="bloc-text">
                remi.mollet@cenaclerm.fr
            </div>
        </div>

        <div class="drop4">
            <button class="bloc-button">
                <i class="fas fa-gift"></i>
            </button>
            <div class="bloc-text">
                Un cours d'essai gratuit !
            </div>
        </div>

        {# Boutons disciplines #}

       <div class="buttons">
           <div class="btn"><a href="/taekwondo">taekwondo</a></div>
           <div class="btn"><a href="/taekwonkido">taekwonkido</a></div>
           <div class="btn"><a href="/hapkido">hapkido</a></div>
           <div class="btn sinkido"><a href="/sinkido"><span class="first">sinkido</span><br><span class="second">self-défense système</span></a></div>
       </div>

       {% include 'modules/locale-button.html.twig' %}

       {% block searchclub %}{{ parent() }}{% endblock %}
     
    </section>

    {# Présentation cénacle #}

    <main>

        <h1>{% trans %}home.cenacle.thecenacle{% endtrans %}</h1>

        <section class="ecole">

            <div class="left">
                <img src="/assets/home/accueil_1.jpg" alt="le maître rémi mollet donne un coup de poing retourné à son élève">
            </div>

            <div class="text">
                <h2>{% trans %}home.cenacle.ourschool.title{% endtrans %}</h2>
                <p>{% trans %}home.cenacle.ourschool.text{% endtrans %}</p>
            </div>
        </section>

        <section class="clubs">
            <div class="text">
                <h2>{% trans %}home.cenacle.ourclubs.title{% endtrans %}</h2>
                <p>{% trans %}home.cenacle.ourclubs.text{% endtrans %}</p>
            </div>

            <div class="right">
                <img src="/assets/home/accueil_2.jpg" alt="le maître montre une technique de défense">
            </div>
        </section>

        <section class="competitions">

            <div class="left">
                <img src="/assets/home/accueil_3.jpg" alt="deux élèves s'affrontent en compétition combat">
            </div>

            <div class="text">
                <h2>{% trans %}home.cenacle.thecompetitions.title{% endtrans %}</h2>
                <p>{% trans %}home.cenacle.thecompetitions.text{% endtrans %}</p>
            </div>
        </section>

        <section class="enseignement">
            <div class="content">
                <h2>{% trans %}home.cenacle.ourteaching.title{% endtrans %}</h2>
                <img src="/assets/home/accueil_4_pix.jpg" alt="les élèves d'un club et le maître rémi mollet">
                <p>{% trans %}home.cenacle.ourteaching.text{% endtrans %}</p>
            </div>
        </section>

        <section class="methode">
            <div class="left">
                <h2>{% trans %}home.cenacle.ourmethod.title{% endtrans %}</h2>
                <img src="/assets/home/accueil_5_2.jpg" alt="deux élèves s'entrainent">
                <p>{% trans %}home.cenacle.ourmethod.text{% endtrans %}</p>
            </div>

            <div class="right">
                <img src="/assets/home/accueil_5_1-2.jpg" alt="deux élèves s'affrontent en combat">
            </div>
        </section>


        <section class="cours-ages">
            <div class="title">
                <h2>des cours accessibles à tous les âges</h2>
                <p>Les cours prodigués au Cénacle conviennent à toutes les catégories d'élèves, des plus jeunes aux moins jeunes en passant par les férus de compétitions.</p>
            </div>

            <div class="categories">

                <div id="age-baby" class="case">
                    {# Button trigger modal #}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#baby">
                        <h3>baby</h3>
                        <img src="/assets/home/accueil_6_1.jpg">
                    </button>
                    
                    {# Modal #}
                    <div class="modal fade" id="baby" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img src="/assets/icons/baby-boy.svg">
                                    <h5>baby</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>Certains clubs dispensent des cours de Baby-Taekwondo pour les 4-6 ans. Ces cours, adaptés aux plus jeunes enfants leur permet d'apprendre les bases du Taekwondo. Les enfants apprennent les valeurs du Taekwondo (respect, discipline) mais acquièrent aussi les bases techniques. Des passages de grades avec des "ceintures" spécialement conçues pour eux permettent de valider leurs connaissances.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="age-kid" class="case">
                    {# Button trigger modal #}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#kid">
                        <h3>enfant</h3>
                        <img src="/assets/home/accueil_6_2.jpg">
                    </button>
                    
                    {# Modal #}
                    <div class="modal fade" id="kid" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img src="/assets/icons/children.svg">
                                    <h5>enfant</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>A partir de 6 ans, et jusqu'à 12 ans, les cours accentuent plus le côté dynamique du Taekwondo. Les enfants continuent leur apprentissage de manière ludique et approfondissent leurs connaissances.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="age-adult" class="case">
                    {# Button trigger modal #}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#adult">
                        <h3>adulte</h3>
                        <img src="/assets/home/accueil_6_3.jpg">
                    </button>
                    
                    {# Modal #}
                    <div class="modal fade" id="adult" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img src="/assets/icons/adults.svg">
                                    <h5>adulte</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>A partir de 13 ans, on rentre dans le cours adulte. La particularité du Cénacle est que nous n'avons pas de spécialité. En effet, le professeur enseigne TOUS les aspects du Taekwondo (techniques de base, combat conventionnel, poomse, casse, self défense, ...). Rien n'est négligé. Les élèves seront donc polyvalents. Cependant, en fonction des préférences de l'élèves, différents cours supplémentaires peuvent être proposés. On a par exemple des cours spécifiques compétition (combat/technique).</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="age-senior" class="case">
                    {# Button trigger modal #}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#senior">
                        <h3>senior</h3>
                        <img src="/assets/home/accueil_6_4.jpg">
                    </button>
                    
                    {# Modal #}
                    <div class="modal fade" id="senior" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <img src="/assets/icons/couple.svg">
                                    <h5 class="modal-title" id="exampleModalLabel">senior</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <p>Enfin, à partir d'un certain âge, les élèves sont moins attirés par le côté compétition que par l'aspect purement self défense. Il existe donc dans certains clubs un cours "vétéran". Là, l'accent sera plutôt mis sur l'aspect self défense et maintien en bonne santé.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>

        <section class="partenaires">
            <div class="title">
                <h2>nos partenaires</h2>
            </div>

            <div class="links">
                
                <div class="case first">
                    <a href="https://taekwonkidotoulon.jimdofree.com/">
                        <img src="/assets/home/logo.jpg">
                        <h5>Cénacle Côte d'Azur<br>Réunion de clubs sur la Côte d'Azur sous la direction de Maître Laurent Rodier</h5>
                    </a>
                    <h6 class="under-title">Cénacle Côte d'Azur<br>Réunion de clubs sur la Côte d'Azur sous la direction de Maître Laurent Rodier</h6>
                </div>
                <div class="case second">
                    <a href="https://www.fftda.fr/">
                        <img src="/assets/partners/fftda.jpg">
                        <h5>Fédération Française de Taekwondo et disciplines associées</h5>
                    </a>
                    <h6 class="under-title">Fédération Française de Taekwondo et disciplines associées</h6>
                </div>
                <div class="case third">
                    <a href="http://www.taekwonkido.com/">
                        <img src="/assets/partners/LogoTKKD_France.jpg">
                        <h5>Union Fédérale de Taekwonkido</h5>
                    </a>
                    <h6 class="under-title">Union Fédérale de Taekwonkido</h6>
                </div>
                <div class="case fourth">
                    <a href="http://www.hoshinkidohapkido.com/">
                        <img src="/assets/partners/hoshinkido_logo3.png">
                        <h5>Hoshinkido, écoles de Hapkido au Québec sous la direction de Me Serge Baubil</h5>
                    </a>
                    <h6 class="under-title">Hoshinkido, écoles de Hapkido au Québec sous la direction de Me Serge Baubil</h6>
                </div>
                
            </div>

        </section>


        <section class="join">
            <div class="left">
                <img src="/assets/home/accueil_7.jpg" alt="deux raquettes de frappe">
            </div>

            <div class="right">
                <h2>rejoignez-nous !</h2>
                <p>Il faut savoir que Maître Rémi Mollet insiste énormément sur le côté traditionnel de l'Art Martial. Nous enseignons non seulement les techniques de Taekwondo, mais aussi toutes les valeurs qui s'y rapportent. En effet, ne dit-on pas que l'Art Martial est un <span>art de vivre</span>.</p>
                <div class="btn"><a href="#">créer un compte</a></div>
            </div>
        </section>

    </main>

{% endblock %}



{% block javascripts_end_body %}

	{% block searchclubjs %}{{ parent() }}{% endblock %}

{% endblock %}

