<nav>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>

    <div class="logo">
        <a href="/"><img src="/assets/img/logo-taekwonkido.png" alt="logo du logo-taekwonkido"></a>
    </div>

    <ul class="nav-links">
        {% if club is defined and club.uuid is defined %}
            <div class="dropdown-4">
                <button><li class="link"><a href="#"><img src="/assets/img/aim.png" class="icon">{% trans  with {'%name%': club.name} %}menu.club name{% endtrans %}<i class="fas fa-angle-down"></i></a></li></button>
                <div class="content">
                    <a href="#"><li class="link">{% trans %}menu.club.sign up conditions{% endtrans %}</li></a>
                    <a href="#"><li class="link">{% trans %}menu.club.prices{% endtrans %}</li></a>
                    <a href="#"><li class="link">{% trans %}menu.club.hours{% endtrans %}</li></a>
                </div>
            </div>
        {% endif %}

        <li class="link"><a href="/master"><img src="/assets/img/icon_master.png" class="icon"> {% trans %}menu.the master{% endtrans %}</a></li>

        <div class="dropdown-1">
            <button><li class="link"><img src="/assets/img/belt.png" class="icon">{% trans %}menu.disciplines{% endtrans %}<i class="fas fa-angle-down"></i></li></button>
            <div class="content">
                <a href="/taekwonkido"><li class="link"> {% trans %}discipline.taekwonkido{% endtrans %}</li></a>
                <a href="#"><li class="link"> {% trans %}discipline.taekwondo{% endtrans %}</li></a>
                <a href="#"><li class="link"> {% trans %}discipline.hapkido{% endtrans %}</li></a>
                <a href="#"><li class="link"> {% trans %}discipline.sinkido self defense system 2 lines{% endtrans %}</li></a>
            </div>
        </div>

        <li class="link"><a href="/club"><img src="/assets/img/pin.png" class="icon">{% trans %}menu.club list{% endtrans %}</a></li>
        <!-- <li class="link"><a href="#"><img src="/assets/img/gallery.png" class="icon">{% trans %}menu.gallery{% endtrans %}</a></li> -->
        <li class="link"><a href="#"><img src="/assets/img/question.png" class="icon">{% trans %}menu.contact{% endtrans %}</a></li>

        <div class="dropdown-2">
            <button><li class="link"><img src="/assets/img/profile.png" class="icon">{% trans %}menu.signin signup{% endtrans %}<i class="fas fa-angle-down"></i></li></button>
            <div class="content">
                <a href="#"><li class="link">{% trans %}menu.signin_signup.signin{% endtrans %}</li></a>
                <a href="#"><li class="link">{% trans %}menu.signin_signup.signup{% endtrans %}</li></a>
            </div>
        </div>
    </ul>
</nav>
