<div class="buttons">
	{% set disciplines = lessons|map(l => l.discipline|lower) %}
	
	{% if 'taekwondo' in disciplines %}
		<div class="btn"><a href="/taekwondo">{% trans %}discipline.taekwondo{% endtrans %}</a></div>
	{% endif %}
	{% if 'taekwonkido' in disciplines %}
		<div class="btn"><a href="/taekwonkido">{% trans %}discipline.taekwonkido{% endtrans %}</a></div>
	{% endif %}
	{% if 'hapkido' in disciplines %}
		<div class="btn"><a href="/hapkido">{% trans %}discipline.hapkido{% endtrans %}</a></div>
	{% endif %}
	{% if 'sinkido' in disciplines %}
		<div class="btn sinkido"><a href="/sinkido">{% trans %}discipline.sinkido self defense system 2 lines upper lower{% endtrans %}</a></div>
	{% endif %}
	
</div>
