{% extends 'dashboard.html.twig' %}

{% block dashboardcontent %}

	<div class="text-center" style="width: 20rem; margin: 0 auto; height: 200px">
		<br>
		<h5>{{ status_code }}</h5>
		<h5>{{ status_text }}</h5>
	</div>
	
{% endblock %}
