*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}

.icon{
    display: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    background-color:#D1D1D1;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    padding: 0;
}

ul{
    height: 100%;
    display: flex;
    align-items: center;
}

nav button{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    background-color: transparent;
    border: none;
}

.dropdown-1 .content,
.dropdown-2 .content{
    display: none;
    visibility: hidden;
}


.dropdown-1, .dropdown-2{
    position: relative;
    display: flex;
}



.dropdown-1 .content a, 
.dropdown-2 .content a{
    margin: 10px;
}

.dropdown-1 .content a li, 
.dropdown-2 .content a li{
    display: inline-block;
}

nav .logo{
    width: 75px;
}

nav .logo img{
    width: 100%;
}

.nav-links{
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.nav-links a{
    color: #000;
    text-decoration: none;
}

.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1200px){
    nav{
        font-size: 13px;
    }

    .nav-links{
        width: 85%;
    }
}

@media screen and (min-width:1001px){
    .link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #CE2A37;
        transition: width .3s;
    }

    .link:hover::after{
        width: 100%;
        transition: width .3s;
    }

    .dropdown-1, .dropdown-2{
        height: 100%;
    }

    .dropdown-1:hover .content, 
    .dropdown-2:hover .content{
    display: block;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #D1D1D1;
    top: 15vh;
    width: 215px;
    padding: 10px 10px;
    box-shadow: 5px 8px 10px #6b6b6b;
    }
}

@media screen and (max-width:1000px){
    
    body{
        overflow-x: hidden;
    }

    nav{
        justify-content: space-between;
        padding: 5px 20px;
    }
    
    .nav-links{
        position: absolute;
        left: 0px;
        height: 85vh;
        top: 15vh;
        background-color:#D1D1D1;
        box-shadow: 5px 8px 15px #919191;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
        width: 85%;
        border-radius: 0px 20px 20px 0;
        transform: translateX(-110%);
        transition: transform 0.5s ease-in-out;
    }


    .burger{
        display: block;
        cursor: pointer;
    }

    .icon{
        display: block;
        width: 40px;
        background-color: rgb(241, 241, 241);
        padding: 5px;
        border-radius: 10px;
        margin-right: 15px;
    }

    a{
        display: flex;
        align-items: center;
        width: 100%;
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2{
        opacity: 0;
    }

    .toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .dropdown-1, 
    .dropdown-2{
        flex-direction: column;
    }

    .dropdown-1 li, 
    .dropdown-2 li{
        display: flex;
        align-items: center;
    }


    .dropdown-1 .content, 
    .dropdown-2 .content{
     /*   display: none;
        visibility: hidden; */
        width: 100%;
        position: relative; 
        top: 0;
        padding-left: 45px;
    }

}

.nav-active{
    transform: translateX(0%);
}

.content-active{
    display: block;
    visibility: visible;
}